node_modules
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
.astro
packages/*/dist
.env
.env.local
build/
.logs/
release/
.marcode
release-mock/
.idea/
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
.vitest-*
__screenshots__/
.tanstack

# Next.js
.next
out
next-env.d.ts
